<div style="box-sizing: border-box; padding-top: 30px; height: 98%;">
    <ag-grid-angular #agGrid style="width: 100%; height:600px;"
     id="myGrid" class="ag-fresh"
       [columnDefs]="columnDefs"
       [autoGroupColumnDef]="autoGroupColumnDef"
        [enableSorting]="true" 
        [paginationPageSize]="10"
        [rowSelection]="rowSelection" 
        [paginationAutoPageSize]="true"
        [enableColResize]="true" 
        [showToolPanel]="true" 
        [rowGroupPanelShow]="rowGroupPanelShow" 
        [pagination]="true" 
        [floatingFilter]="true"
        [defaultColDef]="defaultColDef"
        (filterChanged)="changedata(value)" 
        (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
<div style="position: fixed; top: 0; left: 0;">
    Page Size:
    <select [(ngModel)]="pagesize" (change)="onPageSizeChanged(pagesize)" id="page-size">
                <option value="10" selected="">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="100">100</option>
            </select>
</div>`